body{
  background-color: rgb(236, 236, 236);
}
.formulario {


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  
  
}

form{
  
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: auto;
  border: solid black 2px;
}

.botón{margin-top: 10px; padding-inline: 10px; padding-block: 5px;}
.botón2{margin-top: 10px; padding-inline: 10px; padding-block: 5px; background-color: rgb(41, 41, 41);}
a {text-decoration: none; color: white;}

input:focus{border: blue solid 3px}
