body{
  background-color: rgb(236, 236, 236);
}

.formulario {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  margin: 0;
}

.form{
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: auto;
  border: solid black 2px;
  
}

.password{
  margin-bottom: 10px;
}

.botón{margin-top: 10px; padding-inline: 10px; padding-block: 5px;}
